<h1>DELETE ROOM</h1>

<form action="/action_page.php">
    <fieldset>
      <legend>Room information:</legend>
      Room ID:<br>
      <input type="text" name="roomId" value=""><br>
      Door Number:<br>
      <input type="text" name="doorNumber" value=""><br>
      Flour Number:<br>
      <input type="text" name="floorNumber" value=""><br>
      Maximum Number Of People:<br>
      <input type="text" name="size" value=""><br>
      Room Type:<br>
      <input type="text" name="roomType" value=""><br><br>
      <input type="submit" value="Save">
    </fieldset>
  </form>